<div id="top-bar">
  VIO
</div>

<form class="form-signin" name="form" ng-submit="login(form)" novalidate>
  <h2 class="form-signin-heading">Please sign in</h2>
  <div class="form-group">
    <input type="text" name="email" class="input-block-level" ng-model="user.email" placeholder="Email address" required>
  </div>
  <div class="form-group">        
  <input type="password" name="password" class="input-block-level" ng-model="user.password" placeholder="Password"required>
</div>
<div class="form-group has-error">
  <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
     Please enter your email and password.
  </p>              
  <p class="help-block">{{ errors.other }}</p>
</div>
  <button type="submit" class="btn btn-lg btn-primary"> Sign in </button>
  <hr>
  Not registered? <a href="/signup" class="text-center new-account">Create an account.</a>
</form>