<div ng-include="'partials/navbar'"></div>

<div class="row marketing">
  <div ng-repeat="article in articles">
      <div class="media">
        <a class="pull-left" href="/settings/{{article._id}}">
          <div class="crop">
            <img src="{{article.source.images[0].small}}" width="180"/>
          </div>
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{article.content[0].content}}</h4>
          {{article.content[1].content}}{{article.content[2].content}}
        </div>
      </div>
  </div>
</div>
