<div class="header" ng-controller="NavbarCtrl">
  <ul class="nav nav-pills pull-right">
    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="/">Home</a></li>
    



    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}">
    	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> {{currentUser.name}} </button>
	  	<ul class="dropdown-menu" role="menu">
			<li><a href="/user">Settings</a></li>
			<li class="divider"></li>
			<li><a ng-click="logout()" href="#">Logout</a></li>
		</ul>
	</li>
	



 
  </ul>
  <h3 class="text-muted">vio</h3>
</div>